<nav class="navbar navbar-expand-lg bg-success bg-danger navbar-dark" style="    background-color: #ef2701 !important;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">DrinkApp</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" routerLink="/"><i class="fa fa-home" aria-hidden="true" ></i>
            Home</a>
            <a class="nav-link active" aria-current="page" routerLink="categorie/search"><i class="fa fa-search" aria-hidden="true" routerLink="/"></i>
                serach</a>
            <!-- <a class="nav-link active" aria-current="page"  ><i class="fa fa-search" ></i>
                search</a> -->

       
        </div>
      </div>
    </div>
  </nav>